*{
  font-family: poppins;
}
html {
	scroll-behavior: smooth;
}
section{
  background-color: #242424;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Lora;
    color: var(--bg-color);
    font-size: 3vh;
}
.link{
  color: #3C3C3C;
}
.link:hover{
  color: black;
  font-weight: 900;
  text-decoration: none;
}
p{  
    color: var(--bg-color);
}

:root {
    /* Variables global */
    --bg-color: #FFFF4A; 
    --primary: #242424;
    --secondary: #3C3C3C;
    --green: #82cd47;
    --secondary-light: rgb(34, 124, 112, 0.2);
    --secondary-light-2: rgb(127, 183, 126, 0.1);
    --white: #fff;
    --black: black;
    --shadow: 0px 2px 8px 0px var(--secondary-light);
  }
/* Aqui empieza el codigo especifico */

/* nav */

.menu{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

.imgmenu{
    margin-top: 10px;
    width: 362px;
    margin-left: auto;
    margin-right: auto;
}

.pmenu{
    float: left;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
.pmenu p{
    color: #242424;
    padding: 10px;
    margin-bottom:0 ;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.pmenu p a{
  color: #242424;
}
/* dropdown / css por simplificar */
.dropdown{
  position: static;
  padding: 10px;
  top: 0px;
  right: 0px;
}

.profile-dropdown-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  width: 200px;
  border-radius: 50px;
  color: #242424 ;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url(../web/img/07.jpeg);
  background-size: cover;
}
/*Bolita de conexión*/
.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}

.profile-dropdown-btn span {
  margin: 0 1.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  background-color: var(--bg-color);
  border-radius: 0 0 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: flex-start;
}

.profile-dropdown-list hr {
  border: 0.5px solid var(--black);
}

.profile-dropdown-list.active {
  max-height: 500px;
  display: flex;
  align-items: flex-start;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}

/* welcome section */

.Welcome {
    min-height: 30vh;
    max-height: 1000px;
    height: 70vh;
    display: flex;
    background-image: url("../web/img/04.jpeg");
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
  .W-h2, .W-P{
    text-decoration-line: line-through;
    text-decoration-thickness: 1.25rem;
    text-decoration-color: #ffff4a3b;
    padding-left: 20px;
    font-family: lora;
    color: var(--bg-color);
  }
  .W-h2 {
    margin-right: 10vw;
  }
  
  .W-P {
    font-size: 2vh;
    max-width: 650px;
    width: 80vw;
    padding: 20px 0 40px 40px;
  }
/* about us */
.about-us{
padding: 50px;
}

.abouth1{
    padding: 25px ;
    margin: top 1rem;
    text-align: center;
    color: var(--bg-color);
    font-family: lora;
}

.About-p {
  font-size: 2vh;
}

#t-w{
    display: flex;
    align-items: center;
}

#A-img{
    display: flex ;
    align-items: center;
}

.About-p{
  padding: 20px;
}

#image-about-us{
  min-height: fit-content;
  max-height: 38vh;
}

/* unete perro  */

#t-unete h1, #t-unete p {
    text-align: center;
    padding: 10px;
} 

#t-unete h1 {
    padding: 25px ;
    margin-top:16px;
} 

/* swiper */

/* .swiper{
    padding: 15px 0 50px 0;
    overflow: visible;
    font-size: 14px;
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35vh; 
    width: 374px;
    height: 750px;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #242424;
    border-radius: 15px;
    width: 350px;
    height:750px ;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
  }
  
.swiper-slide img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .swiper-wrapper {

      width: 100%;
      height: 100%;
      z-index: 1;
      transition-property: transform;
      transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
      box-sizing: content-box;
  }

  .card-description {
    padding: 1rem 1rem;
  }
  
  .swiper-slide .card-title,
  .swiper-slide .card-text {
    margin-bottom: 0.5rem;
  }
  
  .swiper-slide .card-btn {
    text-align: center; 
  } 
  
  .swiper-slide .card-btn button {
    background-color: var(--bg-color);
    border: none;
    color: var(--secondary);
    padding: 10px 20px; 
    display: inline-block;
    font-size: 16px;
    border-radius: 50px; 
    cursor: pointer; 
    position: absolute;
    bottom: 30px;
    right: 30%;
    left: 30%;
  }
  #buttonsRow {
    flex-wrap: unset;
  }
  #swippercards{
    display: inline-flex;
    justify-content: space-between;
  } */

  /* 
  swiper ruchi */
.swiper-ruchi{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .slide-container{
    max-width: 1120px;
    width: 100%;
    padding:20px;
}
.slide-content{
    margin: 0 40px;
 }
 .swiper-backface-hidden .swiper-slide{
  background:#3C3C3C;
  border-radius: 25px;
 }
.card{
    border-radius: 25px;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
   
}
.overalay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 25px 25px 0 25px;
}
.overalay::before,
.overalay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color:#3C3C3C;
}
.overalay::after{
    border-radius: 0 25px 0 0;
    background-color: #3C3C3C;

}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #3c3c3c;
}
.Name{ 
    font-size: 18px;
    font-weight: 500;
    color:var(--bg-color);
}
.subtitle{
    font-size: 16px;
    font-weight: 300;
    color: var(--bg-color);
    text-align: center;
}
.description{
    font-size: 14px;
    color: var(--bg-color);
    text-align: center;
    justify-content: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #3c3c3c;
    padding: 8px 16px;
    background-color: var(--bg-color);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background:#242424;
    color: var(--bg-color);
}
.swiper-pagination{
    position: relative;
    padding-top: 20px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after{
  color: #FFFF4A;
}
/* botones  */

  .buttons {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    /* right: 26px !important; */
  }
  
  .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--bg-color);
    color: var(--secondary);
    border: none;
    font-family: monospace;
    font-weight: bold;
    /* left: 26px !important; */
  }

  /* Botón flotante scrollToTop*/

#scrolltotop_parent {
  position: fixed;
  bottom: 40px;
  left: 40px;
  background-color: var(--bg-color);
  color: var(--secondary);
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 50%;
  line-height: 90px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

#scrolltotop_arrow {
  border: solid var(--secondary);
  border-width: 0 3px 3px 0;
  display: inline-block;
  text-align: center;
  padding: 3px;
  transform: rotate(-135deg) scale(4);
}

#scrolltotop_parent:hover {
  opacity: 0.5;
}

  /* fotter */

footer {
    background: var(--bg-color);
    padding-top: 50px;
    text-align: center;
}

footer h1{
  color: #242424;
    
}
footer h1{
    padding-top: px;
}

footer p{
  font-family: lora;
    font-size: 16px;
    margin:0;
    color:#242424;
}
.copyright{
  padding: 10px;
}
#fotter {
    padding-top: 20px;
}

/* media query  */
@media (max-width: 700px) {

  .imgmenu{
    width:150px; 
  }
  .pmenu{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    justify-content: center;
}
.pmenu p{
  padding-left: 0;

}
.Welcome{
  height: 100%;
}
#image-about-us{
  min-width: 300px;
}
#scrolltotop_parent, #scrolltotop_parent:hover{
  display: none;
}
}
