*{
    box-sizing: content-box;
    font-family: poppins;
}

body{ 
    background-color: var(--secondary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lora;
    color: var(--bg-color);
}

h1{
    font-size: 2rem;
}

p{  
    font-size: 1.25rem;
    color: var(--bg-color);
}

:root {
    /* Variables global */
    --bg-color: #FFFF4A; 
    --primary: #242424;
    --secondary: #3C3C3C;
    --green: #82cd47;
    --secondary-light: rgb(34, 124, 112, 0.2);
    --secondary-light-2: rgb(127, 183, 126, 0.1);
    --white: #fff;
    --black: black;
    --shadow: 0px 2px 8px 0px var(--secondary-light);
  }
/* Aqui empieza el codigo especifico */

/* nav */

.menu{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

.imgmenu{
    margin-top: 10px;
    width: 362px;
    margin-left: auto;
    margin-right: auto;
}

.pmenu{
    float: left;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}
.pmenu p{
    color: var(--primary);
    padding-left: 40px;
}
/* dropdown / css por simplificar */
.dropdown{
  position: absolute;
  top: 200px;
  right: 0px;
}
.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  font-size: 24px;
  margin-right: 10px;
  font-weight: 500;
  width: 200px;
  border-radius: 50px;
  color: var(--black);
  background-color: var(--bg-color);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url(../web/img/07.jpeg);
  background-size: cover;
}
/*Bolita de conexión*/
.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}

.profile-dropdown-btn span {
  margin: 0 1.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  width: 210px;
  right: 0;
  background-color: var(--bg-color);
  border-radius: 0px 0px 0px 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  z-index: 3;
}

.profile-dropdown-list hr {
  border: 0.5px solid var(--black);
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}

/* welcome section */

.Welcome {
    min-height: 60vh;
    max-height: min-content;
    display: flex;
    background-image: url("../web/img/04.jpeg");
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
  .W-h2, .W-P{
    text-decoration-line: line-through;
    text-decoration-thickness: 1.25rem;
    text-decoration-color: #ffff4a3b;
    margin-left: 20px;
  }
  .W-h2 {
    margin-right: 300px;
  }
  
  .W-P {
    font-size: 1rem;
    max-width: 650px;
    padding: 20px 0 40px 0;
    margin-left: 40px;
  }

/* about us */

.abouth1{
    padding: 25px ;
    margin: top 1rem;
    text-align: center;
}

#t-w{
    display: flex;
    align-items: center;
}

#A-img{
    display: flex ;
    justify-content: center;
    align-items: center;
}

.About-p{
  padding: 20px;
}

#image-about-us{
  max-height: 38vh;
}

/* unete perro  */

#t-unete h1, #t-unete p {
    text-align: center;
    padding: 10px;
} 

#t-unete h1 {
    padding: 25px ;
    margin-top:16px;
} 

.swiper{
    padding: 15px 0 50px 0;
    overflow: visible;
    font-size: 14px;
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35vh; /*Espacio top y botom entre las tarjetas y lo demas*/
    width: 374px;
    height: 750px;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--primary);
    border-radius: 15px;
    width: 350px;
    height:750px ;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
  }
  
.swiper-slide img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .swiper-wrapper {

      width: 100%;
      height: 100%;
      z-index: 1;
      transition-property: transform;
      transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
      box-sizing: content-box;
  }
  .card-description {
    padding: 1rem 1rem;
  }
  
  .swiper-slide .card-title,
  .swiper-slide .card-text {
    margin-bottom: 0.5rem;
  }
  
  .swiper-slide .card-btn {
    text-align: center; /*Centra todo lo de dentro*/
  }
  
  .swiper-slide .card-btn button {
    background-color: var(--bg-color);
    border: none;
    color: var(--secondary);
    padding: 10px 20px; /* Espaciado interno */
    display: inline-block; /* Como elemento en línea */
    font-size: 16px;
    border-radius: 50px; /* En pixeles no es tan brusco */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    position: absolute;
    bottom: 30px;
    right: 30%;
    left: 30%;
  }
  #buttonsRow {
    flex-wrap: unset;
  }
  #swippercards{
    display: inline-flex;
    justify-content: space-between;
  }

/* botones  */

  .buttons {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    /* right: 26px !important; */
  }
  
  .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--bg-color);
    color: var(--secondary);
    border: none;
    font-family: monospace;
    font-weight: bold;
    /* left: 26px !important; */
  }

  /* Botón flotante scrollToTop*/
#scrolltotop_parent {
  position: fixed;
  bottom: 40px;
  left: 40px;
  background-color: var(--bg-color);
  color: var(--secondary);
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 50%;
  line-height: 90px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

#scrolltotop_arrow {
  border: solid var(--secondary);
  border-width: 0 3px 3px 0;
  display: inline-block;
  text-align: center;
  padding: 3px;
  transform: rotate(-135deg) scale(4);
}

#scrolltotop_parent:hover {
  opacity: 0.5;
}

  /* fotter */
footer {
    background: var(--bg-color);
    margin-top: 50px;
    text-align: center;
}

footer p, footer h1 {
    color: var(--primary);
}
footer h1{
    margin-top: 10px;
}

footer p{
  font-family: lora;
    font-size: 16px;
    margin:0;
}
.copyright{
  padding: 10px;
}
#fotter {
    padding-top: 20px;
}
  
/* 
#text-about-us{
    width: 600px;
    height: auto;
}
#image-about-us{
    max-width: fit-content;
}
 */


