* {
  font-family: poppins;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lora;
  color: var(--bg-color);
  font-size: 3vh;
}

.link {
  color: #3c3c3c;
}

.link:hover {
  color: var(--black);
  font-weight: 900;
  text-decoration: none;
}

p {
  color: var(--bg-color);
}

:root.y {
  /* Variables global */
  --bg-color: #ffff4a;
  --yellow: #ffff4a3b;
  --primary: #242424;
  --secondary: #3c3c3c;
  --green: #82cd47;
  --secondary-light: rgb(34, 124, 112, 0.2);
  --secondary-light-2: rgb(127, 183, 126, 0.1);
  --white: #fff;
  --black: rgb(0, 0, 0);
  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

:root,
:root.r {
  /* Variables global */
  --bg-color: #D80032;
  --yellow: #D800323b;
  --primary: #242424;
  --secondary: #3c3c3c;
  --green: #82cd47;
  --secondary-light: rgb(34, 124, 112, 0.2);
  --secondary-light-2: rgb(127, 183, 126, 0.1);
  --white: #fff;
  --black: rgb(0, 0, 0);
  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

/* Aqui empieza el codigo especifico */

/* nav */

.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  align-items: center;
  padding-bottom: 10px;
}

.imgmenu {
  margin-top: 10px;
  width: 362px;
  margin-left: auto;
  margin-right: auto;
}

.pmenu {
  float: left;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

.pmenu p {
  color: #242424;
  padding: 10px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  /* border-right: solid 2px #3c3c3c ; */
}

.pmenu p a {
  color: var(--primary);
}

/* dropdown / css por simplificar */
.menu .dropdown {
  right: 0px;
  position: absolute;
  top: 205px;
  z-index: 1;
  border-radius: 0 0 0 15px;
   background-color: var(--bg-color);
}

.profile-dropdown-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  width: 200px;
  border-radius: 50px;
  color: var(--primary);

  cursor: pointer;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url(../img/07.jpeg);
  background-size: cover;
}

/*Bolita de conexión*/
.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}

.profile-dropdown-btn span {
  margin: 0 1.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  border-radius: 0 0 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: flex-start;
}

.profile-dropdown-list hr {
  border: 0.5px solid var(--black);
}

.profile-dropdown-list.active {
  max-height: 500px;
  display: flex;
  align-items: flex-start;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}

/* switcher theme */
.theme-btn {
background: none;
position: absolute;
    left: 0;
}
.theme-btn#light {
  padding: 100px;
    
  }

/* welcome section */

.Welcome {
  min-height: 30vh;
  max-height: 1000px;
  height: 70vh;
  display: flex;
  background-image: url("../img/04.jpeg");
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.W-h2,
.W-P {
  text-decoration-line: line-through;
  text-decoration-thickness: 1.25rem;
  text-decoration-color: var(--yellow);
  padding-left: 20px;
  font-family: lora;
  color: var(--bg-color);
}

.W-h2 {
  padding-right: 10vw;
}

.W-P {
  font-size: 2vh;
  max-width: 650px;
  width: 80vw;
  padding: 20px 0 40px 40px;
}

/* about us */
.about-us {
  padding: 50px;
  min-height: 100vh;
}

.abouth1 {
  padding: 25px;
  margin: top 1rem;
  text-align: center;
  color: var(--bg-color);
  font-family: lora;
}

.About-p {
  font-size: 2vh;
  text-align: center;
}

#t-w {
  display: flex;
  align-items: center;
}

#A-img {
  display: flex;
  align-items: center;
}

.About-p {
  padding: 20px;
}

#image-about-us {
  min-height: fit-content;
  max-height: 38vh;
}

.about-us .swiper-horizontal {
  width: 50vh;
}

/* unete perro  */

#t-unete h1,
#t-unete p {
  text-align: center;
  padding: 10px;
}

#t-unete h1 {
  padding: 25px;
  margin-top: 16px;
}

/* 
  swiper ruchi */
.swiper-ruchi {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 20px;
}

.slide-content {
  margin: 0 40px;
}

.swiper-backface-hidden .swiper-slide {
  background: var(--secondary);
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  height: 55vh;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overalay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 0 25px;
}

.overalay#cinefilo {
  background: url(../img/01.jpeg);
  background-size: cover;
  background-position: center;
}

.overalay#amigo {
  background: url(../img/02.jpeg);
  background-size: cover;
  background-position: center;
}

.overalay#pigmalion {
  background: url(../img/03.jpeg);
  background-size: cover;
  background-position: center;
}

.overalay::before,
.overalay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--secondary);
}

.overalay::after {
  border-radius: 0 25px 0 0;
  background-color: var(--secondary);
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--secondary);
}

.Name {
  font-size: 18px;
  font-weight: 500;
  color: var(--bg-color);
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
  color: var(--bg-color);
  text-align: center;
}

.description {
  font-size: 14px;
  color: var(--bg-color);
  text-align: center;
  justify-content: center;
}

.button {
  border: none;
  font-size: 16px;
  color: var(--secondary);
  padding: 8px 16px;
  background-color: var(--bg-color);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #242424;
  color: var(--bg-color);
}

.swiper-pagination {
  position: relative;
  padding-top: 20px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after {
  color: var(--bg-color);
}

/* botones  */

.buttons {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  /* right: 26px !important; */
}

.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--bg-color);
  color: var(--secondary);
  border: none;
  font-family: monospace;
  font-weight: bold;
  /* left: 26px !important; */
}

/* Formulario comentario */
.section-area {
  min-height: 40vh;
  padding: 50px;
}

.comment-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

#comentArea {
  height: 300px;
  width: 100%;
  text-align: start;
  top: 0;
  border-radius: 15px;
  overflow: hidden;
}

textarea {
  padding: 20px;
  max-height: 500px;
}

.coment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input#comment-btn,
input#reset-btn {
  height: 50px;
  width: 100px;
}

.coment-button {
  padding: 20px;
  display: inline;
  justify-content: space-between;
}

/* Botón flotante scrollToTop*/

#scrolltotop_parent {
  position: fixed;
  bottom: 40px;
  left: 40px;
  background-color: var(--bg-color);
  color: var(--secondary);
  width: 105px;
  height: 105px;
  text-align: center;
  border-radius: 50%;
  line-height: 90px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

#scrolltotop_parent:hover {
  opacity: 0.5;
}

/* Contacto */
#comment-btn {
  height: 50px;
  width: 50px;
}

/* footer */

footer {
  background: var(--bg-color);
  padding-top: 50px;
  text-align: center;
}

footer h1 {
  color: var(--primary);
}

footer h1 {
  padding-top: px;
}

footer p {
  font-family: lora;
  font-size: 16px;
  margin: 0;
  color: var(--primary);
}

.copyright {
  padding: 10px;
}

#fotter {
  padding-top: 20px;
}

/* user page */

.user {
  min-height: 80vh;
}

.img-cont {
  height: 100px;
  width: 100px;
  background-color: var(--secondary);
  border-radius: 50%;
  padding: 30px;
  margin-top: 20px;
  background: url(../web/img/07.jpeg);
  background-size: cover;
}

.h-user {
  margin-top: 20px;
  padding: 30px;
  font-family: lora;
  font-size: 40px;
  color: var(--bg-color);
}

/* detalles usuario */
.tarjeta-user {
  padding: 20px;
  border-radius: 15px;
  background-color: #3c3c3c;
  margin-bottom: 20px;
}

.tarjeta-user .tarj-h h2 {
  color: var(--bg-color);
  font-size: 20px;
  border-bottom: solid 2px var(--bg-color);
  margin-right: 55px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.tarjeta-user p {
  font-size: 14px;
  color: var(--white);
  text-align: start;
  margin: 0;
}

.tarjeta-user p span {
  font-size: 16px;
  font-weight: 600;
  color: var(--bg-color);
  display: inline-flex;
  align-items: center;
}

/* notificaciones */
.tarj-notificaciones {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.notif {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}

/* membresia  */

/* switch boton */
.switcher {
  transform: (-50%, -50%);
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  justify-content: space-evenly;
  width: 55px;
  height: 30px;
  margin: 0 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 25px;
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: var(--secondary);
  transition: 0.4s;
  border-radius: 50px;
}

input:checked+.slider {
  background-color: var(--primary);
}

input:checked+.slider::before {
  transform: translateX(25px);
  background-color: var(--bg-color);
}

/* media query  */

@media (max-width: 700px) {
  .imgmenu {
    width: 150px;
  }

  .pmenu {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    justify-content: center;
  }

  .pmenu p {
    padding-left: 0;
  }

  .menu
  .dropdown {
    position: static;
    background: var(--bg-color);
  }

  .theme-btn
  {
    position: static;
  }

  .theme-btn#light{
    padding: 0;
  } 

  .Welcome {
    height: 100%;
  }

  #image-about-us {
    min-width: 300px;
  }

  #scrolltotop_parent,
  #scrolltotop_parent:hover {
    display: none;
  }

  .card {
    border-radius: 25px;
    height: 65vh;
  }
}