:root {
    --bg-color: #E06E1C; /* Variable global que igual deberiamos crear un css 
                              aparte para las globales */
    --white: #FFFFFF;
}

/* img {
   width: 100px;
   height: 100px;
} */
body {
     margin: 0;
     font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;
}

/* 
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}
*/

#logoBG {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: var(--bg-color);
}

#navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: var(--bg-color);
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}


.header {
    background-color: var(--bg-color);
}

/* Dani about Us */

.aboutUs h2 {
	display: flex;
    justify-content: center;
	color: var(--bg-color);
}
.aboutUs table {
	width: 100%;
	table-layout: fixed;
	border: 1px solid black;
}

.aboutUs tr{
	width: 50%;
}

.aboutUs td p{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: var(--bg-color);
}

.aboutUs img{
	max-width: 100%;
	height: auto;
}

/* Dani enroll */

.cards {
	text-align: center; /*Centra todo lo de dentro*/
	color: var(--bg-color);
}

.cards button{
	background-color: var(--bg-color);
	border: none;
    color: white;
    padding: 10px 20px; /* Espaciado interno */
    text-align: center;
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Como elemento en línea */
    font-size: 16px;
    border-radius: 50px; /* En pixeles no es tan brusco */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Les tarjetes de sota */

.column {
    float: left;
    width: 30%;
    padding: 0 10px;
}
   
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid blue;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

/* fi de les tarjetes */

/* css del benvinguts. Guarro però furrula. */

div.welcome {
    background-image: url('../img/04.jpeg');
}

.welcome table{
    width: 100%;
    height: 639px;
}

.welcome h2 {
	display: flex;
    justify-content: Left;
    translate: 30px;
	color: var(--bg-color);    
    /* font */      
}

.welcome p{
    
    justify-content: Left;
    max-width: 550px;
    translate: 50px;
    top: 30px;
    color: var(--bg-color); 
    /* font */
}

/* el footer */

footer{
    background-color: var(--bg-color);
}

#foot_tab{
    width: 100%;
    height: 100px;
    font-size: .7em;    
    border-collapse: collapse;
}
#foot_tab p{
    color: var(--white);
}
.tr_foot td{
    text-align: center; 
    width: 50%;
}

.td_foot {
    text-align: center;
}

/* pop ups */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
}

.popup:hover {
    background-color: #E64D00;
}

