/* Existeixen errors en el css segons norma 
    bàsicament són tots que no hi ha un color foreground
    en alguns atributs.
    Què els follin. Què haguessin estudiat més.
*/

:root {
    
    --bg-color: #E06E1C; /* Variable global que igual deberiamos crear un css 
                              aparte para las globales */
    --white: #FFFFFF;
}

body {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    /* padding: 30px;
    text-align: center; */
    background-color: var(--bg-color);
}

#logoBG {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: var(--bg-color);
}

#navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: var(--bg-color);
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* css del benvinguts. Guarro però furrula. */
/* article 1 */
.welcome {
    background-image: url('../img/04.jpeg');
}

.welcome table{
    width: 100%;
    height: 639px;
}

/* translate no exiteix */
.welcome h1 {
	display: flex;
    justify-content: Left;
    translate: 30px;
	color: var(--bg-color);    
    /* font */      
}

.welcome p{
    
    justify-content: Left;
    max-width: 550px;
    translate: 50px;
    top: 30px;
    color: var(--bg-color); 
    /* font */
}

/* Dani about Us */
.aboutUs h1 {
	display: flex;
    justify-content: center;
	color: var(--bg-color);
}
.aboutUs table {
	width: 100%;
	table-layout: fixed;
}

.aboutUs tr{
	width: 50%;
}

.aboutUs td p{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: var(--bg-color);
}

.aboutUs img{
	max-width: 100%;
	height: auto;
}

/* Dani enroll / inscripcions*/
.cards {
	text-align: center; /*Centra todo lo de dentro*/
	color: var(--bg-color);
}

.cards button{
	background-color: var(--bg-color);
	border: none;
    color: white;
    padding: 10px 20px; /* Espaciado interno */
    text-align: center;
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Como elemento en línea */
    font-size: 16px;
    border-radius: 50px; /* En pixeles no es tan brusco */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/*MODAL*/

#modal::backdrop {
	background-color: rgba(0, 0, 0, 0.60);
}

#modal {
	max-width: 50ch;
    text-align: center;
}
/* Salto de linea de las labels dentro del modal */
label {
    display: block;
    font:
    1rem 'Fira Sans',
    sans-serif;
}
input, label {
    margin: 0.4rem 0;
}

/* Botón flotante scrollToTop*/
#scrolltotop_parent {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: var(--bg-color);
    color: #fff;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    line-height: 90px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

#scrolltotop_arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    text-align: center;
    padding: 3px;
    transform: rotate(-135deg) scale(4);
}

#scrolltotop_parent:hover {
    opacity: .5;
}

/* Les tarjetes de sota */

.column {
    float: left;
    width: 30%;
    padding: 0 10px;
}
   
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid blue;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
/* fi de les tarjetes */

/* el footer */
/* Dani style */
footer{
    background-color: var(--bg-color);
}

#foot_tab{
    width: 100%;
    height: 100px;
    font-size: .7em;    
    border-collapse: collapse;
}

#foot_tab p{
    color: var(--white);
}

.tr_foot td{
    text-align: center; 
    width: 50%;
}

.td_foot {
    text-align: center;
}

/* pop ups */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
}

.popup:hover { 
    background-color: #E64D00;
}
