/* Umm */ 
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1{
  padding: 20px;
  font-family: lora;
  font-size: 32px;
  font-weight: bold;
}

h2{
  padding: 20px;
  font-family: lora;
  font-size: 32px;
  font-weight: bold;
}

p{
  padding: 5px;
}
:root {
  /* Variables global */
  --bg-color: #FFFF4A; 
  --primary: #242424;
  --secondary: #3C3C3C;
  --green: #82cd47;
  --secondary-light: rgb(34, 124, 112, 0.2);
  --secondary-light-2: rgb(127, 183, 126, 0.1);
  --white: #fff;
  --black: black;
  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

/*Fuentes de letras*/
body {
  /*color: var(--secondary);*/ /* No li mola que color i background siguin iguals*/
  background-color: var(--secondary);
  font-family: 'Lora-Versaleta', 'Lora-Bold', 'Poppins-Regular-Bold', 'Poppins-Regular';
}

/* Header */
.header {
  /* padding: 30px;
    text-align: center; */
  background-color: var(--bg-color);
}

#logoBG {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}
.navbar {
  display: flex;
  padding-left: 200px;
  align-items: center;
  height: 70px;
  background-color: var(--bg-color);
}
.navbar-logo {
  cursor: pointer;
}
.navbar-list {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-right: 2rem;
}
.navbar-list li {
  display: inline-block;
  margin: 0 1rem;
}

.navbar-list li a {
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

/* .navbar-list a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 48px 48px 48px 73px; /* top, right/left, bottom 
  text-decoration: none;
  font-size: 24px;
} */
.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  font-size: 24px;
  margin-right: 10px;
  font-weight: 500;
  width: 200px;
  border-radius: 50px;
  color: var(--black);
  background-color: var(--bg-color);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

/* El project manager llepa titoles 
   i menja aranyes amb xocolata */
.profile-dropdown-btn:hover {
  /* background-color: var(--secondary-light-2); */
  /* box-shadow: var(--shadow); */
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url(../img/07.jpeg);
  background-size: cover;
}
/*Bolita de conexión*/
.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}

.profile-dropdown-btn span {
  margin: 0 1.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 58px;
  width: 210px;
  right: 0;
  background-color: var(--bg-color);
  border-radius: 0px 0px 0px 10px;
  max-height: 0;
  overflow: hidden;
  /* box-shadow: var(--shadow); */
  transition: max-height 0.5s;
}

.profile-dropdown-list hr {
  border: 0.5px solid var(--black);
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}
/* css del benvinguts. Guarro però furrula. */
/* article 1 */
.welcome { 
  background-color: var(--secondary);
}

.welcome table {
  width: 1514px;
  height: 639px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../img/04.jpeg");
  margin: auto;
  margin-top: 50px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.welcome h1 {
  
  color: var(--bg-color);
  margin-right: 800px;
  text-decoration-line: line-through;
  text-decoration-thickness: 20px;
  text-decoration-color: #ffff4a3b;
  /* font */
}

.welcome h2 {
  
  color: var(--bg-color);
  margin-right: 800px;
  text-decoration-line: line-through;
  text-decoration-thickness: 20px;
  text-decoration-color: #ffff4a3b;
  /* font */
}

.welcome p {
  position: relative;
  max-width: 550px;
  padding: 0 0 70px 70px;
  color: var(--bg-color);
  font-family: poppins;
  text-decoration-line: line-through;
  text-decoration-thickness: 20px;
  text-decoration-color: #ffff4a3b;
  /* font */
}

/* Dani about Us */
.aboutUs{
  background-color: var(--secondary);
}

.aboutUs h1 {
  display: flex;
  justify-content: center;
  color: var(--bg-color);
}

.aboutUs h2 {
  display: flex;
  justify-content: center;
  color: var(--bg-color);
}

.aboutUs table {
  width: 100%;
  table-layout: fixed;
  display: flex;
  justify-content: space-around;
}

.aboutUs tr {
  width: 50%;
}

.aboutUs td p {
  margin: 0;
  padding: 10px;
  width: 747px;
  height: 647px;
  font-size: 20px;
  color: var(--bg-color);
  text-align: center;
  display: flex;
  align-items: center;
  font-family: poppins;
}

.aboutUs img {
  width: 768px;
  height: 647px;
  padding-left: 10px;
}
/*UNETE AL CLUB*/
.title-club{
  background-color: var(--secondary);
  padding-bottom: 130px;
}
.title-club h1 {
  color: var(--bg-color);
  text-align: center;
}

.title-club h2 {
  color: var(--bg-color);
  text-align: center;
}

.P-card p{
  padding: 0px;
  line-height: 26px;
  margin: 10px;
}

.card-text p {
  padding: 0px;
  line-height: 20px;
}

.title-club p {
  color: var(--bg-color);
  text-align: center;
  font-size: 18px;
  font-family: poppins;
}

/*Slider swiper*/
.swiper{
  padding: 15px 0 50px 0;
  overflow: visible;
  font-size: 14px;
  color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35vh; /*Espacio top y botom entre las tarjetas y lo demas*/
  width: 500px;
  height: 650px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 18px;
  background: var(--primary);
  border-radius: 15px;
  text-align: start;
  box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-description {
  padding: 1rem 1rem;
}

.swiper-slide .card-title,
.swiper-slide .card-text {
  margin-bottom: 0.5rem;
}

.swiper-slide .card-btn {
  text-align: center; /*Centra todo lo de dentro*/
}

.swiper-slide .card-btn button {
  background-color: var(--bg-color);
  border: none;
  color: var(--secondary);
  padding: 10px 20px; /* Espaciado interno */
  text-align: center;
  text-decoration: none; /* Sin decoración de texto */
  display: inline-block; /* Como elemento en línea */
  font-size: 16px;
  border-radius: 50px; /* En pixeles no es tan brusco */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  position: absolute;
  bottom: 30px;
  right: 30%;
  left: 30%;
}

.buttons {
  position: absolute;
  top: 45%;
  width: 1470px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  /* right: 26px !important; */
}

.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--bg-color);
  color: var(--secondary);
  border: none;
  font-family: monospace;
  font-weight: bold;
  /* left: 26px !important; */
}

/*MODAL*/

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  background-color: var(--secondary);
  max-width: 100ch;
  height: 500px;
  text-align: center;
  margin:auto;
  border-radius: 10%;
  border-style: initial;
}
.modal h2{
  padding-top: 10%;
  color: var(--bg-color);
}

.modal p{
  font-size: 10px;
  color: var(--bg-color);
}

.modal form {
  padding: 0 40px;
  box-sizing: border-box;
}

.username, #mail {
  color: #ffffff;
}

.username, #pwd {
  color: #ffffff;
}

form .username{
  position: relative;
  border-bottom: 2px solid var(--bg-color);
  margin: 30px 0;
}

.username input{
  width: 100%;
  padding: 0 5px;
  height: 20px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: var(--secondary);
}

.username label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: var(--bg-color);
  transform: translateY(-80%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.username span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background:#6c3483;
  transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label{
  top: -5px;
  color: var(--bg-color);
}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
  width: 100%;
}

.recordar {
  margin: -5px 0 20px 5px;
  color: blue;
  cursor: pointer;
}

.registro-recordar {
  width: 480px;
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.recordar:hover{
  text-decoration: underline;
}

#modal-abajo-centrado {
  margin: 0 20%;
  color: var(--bg-color);
  display: flex;
  justify-content: center;
}

#btn-cerrar-modal {
  margin: 1% 0 1% 0;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  color: var(--secondary);
  background-color: var(--bg-color);
}

/* Salto de linea de las labels dentro del modal */
label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

/* Botón flotante scrollToTop*/
#scrolltotop_parent {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: var(--bg-color);
  color: #fff;
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 50%;
  line-height: 90px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

#scrolltotop_arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  text-align: center;
  padding: 3px;
  transform: rotate(-135deg) scale(4);
}

#scrolltotop_parent:hover {
  opacity: 0.5;
}

/* el footer */
/* Dani style */
footer {
  background-color: var(--bg-color);
}

#foot_tab {
  width: 100%;
  height: 100px;
  font-size: 18px;
  border-collapse: collapse;
}

#foot_tab p {
  color: var(--primary);
}

.tr_foot td {
  text-align: center;
  width: 50%;
}

.td_foot {
  text-align: center;
}

/* pop ups */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
}

.popup:hover {
  background-color: #e64d00;
}

.fotter {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.fotter-h1{
float: left;
display: flex;
position: relative;
justify-content: space-between;
margin: 0 550px 0 550px;
padding: 30px;
}

.table-fotter{
  display: flex;
  flex-direction: row;
  padding: 30px;
}
.table-fotter1{
float: left;
display: flex;
flex-direction: column;
align-items: center;
}

.table-fotter2{
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-fotter {
  text-align: center;
  padding: 20px 150px 20px 150px ;

}

/* Ojo que igual que digo una cosa digo la otra */
/*MODAL*/

.modal2::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal2 {
  background-color: var(--secondary);
  max-width: 100ch;
  height: 500px;
  text-align: center;
  margin:auto;
  border-radius: 10%;
  border-style: initial;
}
.modal2 h2{
  padding-top: 10%;
  color: var(--bg-color);
}

.modal2 p{
  font-size: 10px;
  color: var(--bg-color);
}

.modal2 form {
  padding: 0 40px;
  box-sizing: border-box;
}


#modal2-abajo-centrado {
  margin: 0 20%;
  color: var(--bg-color);
  display: flex;
  justify-content: center;
}

#btn-cerrar-modal2 {
  margin: 1% 0 1% 0;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  color: var(--secondary);
  background-color: var(--bg-color);
}
